@{
    ViewBag.Title = "MailSending";
    Layout = "~/Views/Shared/_Layouthome.cshtml";
}

<br />
<br />
<div class="col-sm-12" style="border:2px solid #FFB63E;border-left:0px;border-right:0px;padding:15px;margin-bottom:20px;color: #0ed364; background:#000;">
    <h2 style="text-align:center;font-weight:bold;">e have sent an verification code to your captain Please Ask verification code from your captain and Enter here</h2>
</div>
<div class="col-sm-12" style="text-align: center;">
    <form action="/Home/EnterCode/@Model.Id" method="post">
        <div class="col-sm-4"></div>
        <div class="container-fluid col-sm-4" id="login_border" style=" border: 5px;border-color: #ffb63e;border-width: 5px;border-style: solid;border-radius: 15px;">
            <div class="col-sm-12">

                <!-- 1st r -->

                <div class="row" id="frm_pad" style="padding-top:12px">

                    <div class="col-sm-12 form-group">
                        <input class="form-control input-lg focus" id="code" name="code1" placeholder="Please Enter The Code" type="text" required>
                    </div>
                </div>
                <div class="row" id="frm_pad" style="padding-top:12px">

                    <div class="col-sm-12 form-group">

                        <input type="submit" class="form-control input-lg focus" value="Confirm" name="SignUp" id="code" style="color: black; background-color:#0ed364">
                    </div>

                </div>


            </div>

            <!-- 2nd r -->

        </div>
        <div class="col-sm-4"></div>
    </form>

</div><div class="col-sm-12" style="text-align: center;">
    <br>
    <br><br><br>
    <br>
    <br>

</div>
<!--End-->