@{
    ViewBag.Title = "SorryPage2";
    Layout = "~/Views/Shared/_LayoutCaptain.cshtml";
}

<br />
<div id="style-1" class="container">
    <br /><h1 style="color:red">:( </h1>
    <br /><h1 style="color:red">@Session["error"]</h1>
</div>
